.hero {
  position: relative;
  overflow: hidden;
  height: 700px;
}

.hero::after {
  content: '';
  position: absolute;
  right: -320px;
  top: 0;
  width: 1168px;
  height: 700px;
  background: url('../../assets/img/bg/HeroImg.webp') no-repeat;
  mix-blend-mode: darken;
}

.hero::before {
  content: '';
  position: absolute;
  left: -976px;
  bottom: 0;
  width: 1784px;
  height: 128px;
  background: url('../../assets/img/bg/LightYellowBg.png') no-repeat;
  mix-blend-mode: darken;
}

.textWrap {
  padding-top: 139px;
  padding-left: 144px;
}
.textBox {
  width: 496px;
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;

  margin-bottom: 24px;
}

.span {
  font-weight: 400;
}

.subtitle {
  font-size: 32px;
  line-height: normal;

  margin-bottom: 48px;
}

.orderBtn {
  padding: 24px 32px;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  background: var(--brand-accent);
  box-shadow: 12px 12px 0 0 var(--brand-orange);
}
