.headerWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.header {
  padding: 30px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.callUs {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  line-height: normal;
}

.icon {
  margin-right: 5px;

  transition: color var(--transition);
  will-change: color;
}

.callUs:hover .icon,
.callUs:focus .icon {
  color: var(--brand-accent);
}
